body {
  font-family: Arial, sans-serif;
  background-color: #f4f6f8;
  margin: 0;
}

.container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 350px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin: 50px auto;
}
